.container {
	background-color: white;
	max-width: 750px;
	margin: 100px auto 0 auto;
}

img {
	width: 60%;
}

.headline {
	text-align: center;
	font-size: 100px;
}

.byline {
	font-family: arial;
	font-size: 15px;
	font-style: italic;
	text-align: center;
}

.caption {
	font-family: arial;
	font-style: italic;
	font-size: 15px;
}

.body {
	font-family: arial;
	font-size: 22px;
}

.intro {
	font-size: 25px;
	font-family: arial black;
}

.conclusion {
	font-size: 25px;
	font-family: arial black
}

.youtube {
	display: block;
	margin: 0 auto;
}